.companies-container {
  display: flex;
  gap: 4rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.company-image {
  height: 2rem;
  cursor: pointer;
}

.company-image:hover {
  opacity: 0.7;
}

@media (width < 1367px) {
  .companies-container {
    margin-top: 10rem;
  }
}
