.feature02-container {
  display: flex;
  gap: 3.25rem;
  width: 97%;
}

.feature02__image {
  width: 45rem;
}

.feature02__right-field {
  margin-top: 19rem;
}

.feature02__right-field-upper-text {
  font-size: 1.32rem;
  line-height: 2.45rem;
  color: #71e5ff;
  margin-top: 0;
}

.feature02__right-field-header {
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 3.7rem;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
    #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: 35rem;
  margin-top: -0.5rem;
}

.feature02__right-field-text {
  font-size: 1.32rem;
  line-height: 2.45rem;
  color: #81afdd;
  margin-top: 0;
  width: 40rem;
}

.feature02__right-field-lower-text {
  font-size: 1.32rem;
  line-height: 2.45rem;
  color: #ff8a71;
  margin-top: 3rem;
}

@media (width < 1750px) {
  .feature01__left-field-text {
    text-align: center;
  }
  .feature02__right-field-header {
    width: 100%;
  }
  .feature02__right-field-text {
    width: 100%;
  }
}
@media (width < 1367px) {
  .feature02-container {
    margin-top: 7rem;
  }
  .feature02__image {
    width: 30rem;
    height: fit-content;
    margin-left: 0;
  }
  .feature02__right-field {
    margin-top: 4rem;
  }
}
@media (width < 1125px) {
  .feature02-container {
    display: flex;
    flex-direction: column;
  }
  .feature02__image {
    width: 45rem;
    align-self: center;
  }
  .feature02__right-field {
    margin-top: 4rem;
  }
}

@media (width < 450px) {
  .feature02__image {
    width: 100%;
    margin: -5rem 0 -5rem 0;
  }
  .feature02__right-field-upper-text {
    font-size: 1.1rem;
    margin-top: -1rem;
  }
  .feature02__right-field-header {
    margin: 1rem 0 2rem 0;
    font-size: 2rem;
    line-height: 2.7rem;
  }
  .feature02__right-field-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .feature02__right-field-lower-text {
    font-size: 1.1rem;
    margin-top: 1rem;
  }
}
