.feature01-container {
  margin-top: 20rem;
  display: flex;
  gap: 13.5rem;
}

.feature01__left-field {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.feature01__left-field-header {
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 3.7rem;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
    #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: 35rem;
}

.feature01__left-field-text {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.45rem;
  color: #ff8a71;
}

.feature01__right-field {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 2rem;
}

@media (width < 1367px) {
  .feature01-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .feature01__left-field-header {
    display: flex;
    align-self: center;
    text-align: center;
  }
  .feature01__left-field-text {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .feature01__right-field {
    gap: 3rem;
  }
}
