* {
  font-family: "Manrope", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  background: #040c18;
  color: white;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.main-container {
  width: 82%;
}

.blur-01 {
  position: absolute;
  width: 52%;
  height: 93%;
  left: -17%;
  top: -28%;
  background: #002853;
  filter: blur(282px);
}

.blur-02 {
  position: absolute;
  width: 40%;
  height: 71%;
  left: -23%;
  top: 204%;
  background: #07325f;
  filter: blur(282px);
}

.blur-03 {
  position: absolute;
  width: 36%;
  height: 45%;
  left: 58%;
  top: 64%;
  background: #072d56;
  filter: blur(282px);
}

.rectangle-color {
  position: absolute;
  width: 3.15rem;
  height: 3px;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
    #ffffff;
}
